<%= form_for(@egreso) do |f| %>
  <% if @egreso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@egreso.errors.count, "error") %> prohibited this egreso from being saved:</h2>

      <ul>
      <% @egreso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='panel panel-default'>
  <div class="panel-body">
    <div class="form-group col-lg-3">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="form-group col-lg-3">
    <%= f.label :de %><br>
    <%= f.text_field :de %>
  </div>
  <div class="form-group col-lg-3">
    <%= f.label :gasto %><br>
    <%= f.text_field :gasto %>
  </div>
  <div class="form-group col-lg-3">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
