<%= form_for(@alumno) do |f| %>
  <% if @alumno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumno.errors.count, "error") %> prohibited this alumno from being saved:</h2>

      <ul>
      <% @alumno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='panel panel-default'>
  <div class="panel-body">
    <div class="form-group col-lg-3">
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :apellido %><br>
      <%= f.text_field :apellido, placeholder: 'Apellido', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :ci %><br>
      <%= f.text_field :ci, placeholder: 'C.I.', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :fechanac %><br>
      <%= f.date_select :fechanac, placeholder: 'Fecha de Nac.', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :luegarnac %><br>
      <%= f.text_field :luegarnac, placeholder: 'Lugar de Nac.', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :domicilio %><br>
      <%= f.text_field :domicilio, placeholder: 'Domicilio', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :nombrepa %><br>
      <%= f.text_field :nombrepa, placeholder: 'Nombre Padre', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :profesionpa %><br>
      <%= f.text_field :profesionpa, placeholder: 'Profesion', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :nombrema %><br>
      <%= f.text_field :nombrema, placeholder: 'Nombre Madre', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :profesionma %><br>
      <%= f.text_field :profesionma, placeholder: 'Profesion', class: 'form-control input-sm' %>
    </div>
    <div class="form-group col-lg-3">
      <%= f.label :numeroTelef %><br>
      <%= f.number_field :numeroTelef %>
    </div>
  </div>

    <div class="panel-footer">          
      <div class="text-right">
        <%= button_tag(type: 'submit', class: "btn btn-success btn-sm") do %>
          <span class="fa fa-check"></span> Guardar
        <% end %>            
      </div>
    </div>
  
</div>
<% end %>
