<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @alumno.ci %>
</p>

<p>
  <strong>Fechanac:</strong>
  <%= @alumno.fechanac %>
</p>

<p>
  <strong>Luegarnac:</strong>
  <%= @alumno.luegarnac %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @alumno.domicilio %>
</p>

<p>
  <strong>Nombrepa:</strong>
  <%= @alumno.nombrepa %>
</p>

<p>
  <strong>Profesionpa:</strong>
  <%= @alumno.profesionpa %>
</p>

<p>
  <strong>Nombrema:</strong>
  <%= @alumno.nombrema %>
</p>

<p>
  <strong>Profesionma:</strong>
  <%= @alumno.profesionma %>
</p>

<p>
  <strong>Numerotelef:</strong>
  <%= @alumno.numeroTelef %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
