<%= form_for(@cobro) do |f| %>
  <% if @cobro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cobro.errors.count, "error") %> prohibited this cobro from being saved:</h2>

      <ul>
      <% @cobro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='panel panel-default'>
  <div class="panel-body">
      <div class="form-group col-lg-3">
        <%= f.label :tipo %><br>
        <%= f.text_field :tipo, placeholder: 'Tipo', class: 'form-control input-sm' %>
      </div>
      <div class="field">
        <%= f.label :monto %><br>
        <%= f.text_field :monto, placeholder: 'Monto', class: 'form-control input-sm'  %>
      </div>
      <div class="field">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, placeholder: 'Nombre', class: 'form-control input-sm'  %>
      </div>
      <div class="field">
        <%= f.label :apellido %><br>
        <%= f.text_field :apellido, placeholder: 'Apellido', class: 'form-control input-sm'  %>
      </div>
      <div class="field">
        <%= f.label :ci %><br>
        <%= f.text_field :ci %>
      </div>
  </div>
      <div class="actions">
        <%= f.submit %>
      </div>
</div>
<% end %>
